//
   Created by Sunny on 8/2/14.

link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.superhero.min.css")
//link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap-theme.css")
link(rel="stylesheet", href="/stylesheets/jumbotron-narrow")
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
