extends ../layout

block content
    .container
        .row
            .col-xs-6.col-sm-6.col-md-12.col-lg-12
                .page-header
                    h1 Apply2day!
                .jumbotron
                    h1 You apply it, we record it.
                    p This is a simple web application to help people to collect their job applications.
                    p
                        a.btn.btn-primary.btn-lg(href="/login") Sign In

